bazel-*
MODULE.bazel.lock
user.bazelrc
.cache
compile_commands.json

# docs build artifacts
_build
docs/ubproject.toml

# ignore folders created by IDEs
.vscode
.idea
# Ignore clangd's config
.clangd
